body {
	min-height: 100vh; /* Para o body sempre se encaixar na tela - vh - viewport hight - altura da tela */
	background-color: #ccc;
	background-image: url('https://unsplash.it/g/1500/800?random');
}

.login-form {
	/*centralização vertical*/
	margin-top: 50vh;
	transform: translateY(-50%);

	height:300px;
	background-color: #fff;
}